body{
    box-sizing: border-box;
    margin: auto;
}
table, td {
    border:1px solid black;

}
table{
    margin: auto;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 20%;
}
td{
    width: 10vw;
    height: 5vh;
    background-color: blue;
    font-weight: bold;
}